.header {
  position: relative;
}
.inner {
  margin: 0 auto;
  width: 1100px;
}
.header-inner{
  position: fixed;
  background-color: white;
  height: 70px;
  width: 100%;
  z-index: 500;
}
.bolt-icon {
  font-size: 2.5em;
  color: #808080;
  position: fixed;
  top: 15px;
  left: 300px;
  padding: 15px 0 15px 0s;
}
.btn-contact {
  display: inline-block;
  padding: 14px 12px;
  background-color: #74cfae;
  color: white;
  text-decoration: none;
  transform: 0.3s;
  position: fixed;
  top: 15px;
  right: 300px;
}
.btn-contact:hover {
  color: #333;
}
.theme--title {
  background-color: #f2f2f2;
}
.title-inner {
  padding: 250px 0 250px 0;
}
.main--title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700px;
  text-align: center;
  margin-bottom: 20px;
}
.sab--title {
  color: #c0c0c0;
  text-align: center;
  font-size: 30px;
}
.iphone {
  background-color: #74cfae;
}
.iphone--section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.iphone--section--picture {
  margin: 0 auto;
  padding-top: 50px;
}

.iphone--section--text{
  color: white;
  text-align: center;
}
.iphone--section--text--title {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  margin-bottom: 35px;
  
}

.iphone--section--text--sentence {
  font-family: Lato, sans-serif;
  font-size: 20px;
}
.our--latest--work {
  background-color: #f2f2f2;
}

.our--latest--work--title {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-align: center;
  padding: 60px 0 40px 0;
}
.our--latest--work--picture {
  display: flex;
  flex-wrap: wrap;
  opacity: 0.7;
}

.our--latest--work--pic_frame {
  display: inline-block;
  margin: 80px 0 0 100px;
}
.our--latest--work--picture:hover {
  opacity: 1.0;
}

.our--latest--work--pic_frame:nth-child(-n+3) {
  margin-top: 0;
}
.our--latest--work--pic_frame:nth-child(3n+1) {
  margin-left: 0;
}
.our--latest--work--text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 90px 0 70px 0;
}
.our--latest--work--text--sentence {
  text-align: center;
  font-family: Lato, sans-serif;
  margin-right: 90px;
}
.btn-Email {
  display: inline-block;
  background-color: #74cfae;
  color: white;
  text-decoration: none;
  font-size: 12px;
  padding: 14px 20px ;
  transform: 0.3s;
}

.btn-Email:hover {
  color: #333;
}
.our--skills {
  background-color: #4e4e4e;
}

.our--skills--title {
  padding: 70px 0 70px 0;
  font-family: Raleway, sans-serif;
  color: white;
  text-align: center;
  font-size: 24px;
}
.our--skills--pic_frame {
  display: inline-block;
  color: white;
  margin-left: 180px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 100px;
}
.our--skills--pic_frame:first-child {
  margin-left: 0;
}
.SNS {
  background-color: #f2f2f2;
}
.SNS--inner {
  text-align: center;
}
.SNS-icon {
  padding: 180px 0 180px 0;
}
.SNS-icon-content {
  display: inline-block;
  font-size: 40px;
  transform: 0.3s;
  padding: 20px 72.5px;
  color: #74cfae;
  cursor: pointer;
}
.facebook-icon {
  padding: 20px 80px
}

.facebook-icon:hover {
  background-color: white;
}
.dribbble-icon:hover {
  background-color: white;
}
.twitter-icon:hover {
  background-color: white;
}
.envelope-icon:hover {
  background-color: white;
}
.footer {
  background-color: #74cfae;
}
.footer--text {
  font-size: 12px;
  text-align: end;
  padding: 20px 0 25px 0;
  color: white;
}

