.a {
  display: inline-block;
}

.img {
  vertical-align: bottom;
}

.body {
  font-family: Lato, sans-serif;
}

.header {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  padding: 15px 0;
  z-index: 500;
}

.header-inner {
  display: flex;
  justify-content: space-between;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.bolt-icon {
  font-size: 2.5em;
  color: #808080;
}

.btn-contact {
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.3s;
}

.btn-contact:hover {
  color: #333;
}

.main--content {
  padding-top: 74px;
}

.theme--title {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.main--title {
  font-family: Raleway, sans-serif;
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.sab--title {
  color: #c0c0c0;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.iphone {
  background-color: #74cfae;
  padding-top: 50px;
}

.iphone--section {
  display: flex;
  justify-content: space-around;
}

.iphone--section--picture {
  margin: 0 auto;
  font-size: 0;
}

.iphone--section--text{
  display: inline-block;
  padding-top: 20px;
  color: #FFFFFF;
  text-align: center;
  width: 647px;
}

.iphone--section--text--title {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  
}

.iphone--section--text--sentence {
  font-size: 20px;
  margin-top: 35px;
}
.our--latest--work {
  background-color: #f2f2f2;
  z-index: 100;
  padding: 60px 0 70px 0;
}

.our--latest--work--title {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  text-align: center;
}

.our--latest--work--picture {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.our--latest--work--picture li {
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: 0.3s;
}

.our--latest--work--picture li:hover {
  opacity: 1.0;
}

.our--latest--work--picture li:nth-child(-n+3) {
  margin-top: 0;
}

.our--latest--work--picture li:nth-child(3n+1) {
  margin-left: 0;
}

.our--latest--work--picture li a {
  display: block;
  height: 100%;
  width: 100%;
}
.our--latest--work--text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 90px;
}

.our--latest--work--text--sentence {
  text-align: center;
  width: 460px;
}

.btn-Email {
  display: inline-block;
  background-color: #74cfae;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
  padding: 14px 20px ;
  transition: 0.3s;
  margin-left: 90px;
}

.btn-Email:hover {
  color: #333;
}

.our--skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.our--skills--title {
  font-family: Raleway, sans-serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
}

.our--skills--picture {
  margin-top: 70px;
  display: flex;
  justify-content: space-between
}

.our--skills--picture--text {
  margin-top: 10px;
  text-align: center;
  color: #FFFFFF;
}

.SNS {
  background-color: #f2f2f2;
  padding: 180px 0;
}

.SNS--inner {
  text-align: center;
}
.SNS-icon li {
  display: inline-block;
  font-size: 40px;
  transition: 0.3s;
  cursor: pointer;

}

.SNS-icon li a {
  display: block;
  padding: 20px 72.5px;
}
.SNS-icon li:first-of-type a {
  padding: 20px 80px;
}

.SNS-icon-content {
  color: #74cfae;
}


.SNS-icon li:hover {
  background-color: #FFFFFF;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer--text {
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}

